/*--------------------------------------------------------------------------
  Customize your CSS here
/*--------------------------------------------------------------------------*/

/* Format the right-side menu */
#menu {
  margin-top: 50px;
  font-size: 11pt;
  padding-left: 20px;
}

#menu .nav-header {
  font-size: 12pt;
  color: #606060;
  margin-top: 20px;
}

#menu li {
  line-height: 25px;
}

/* Change font sizes for headings etc. */
.main h1, #fsdocs-content h1 {
  font-size: 26pt;
  margin: 10px 0px 15px 0px;
  font-weight: 400;
}

.main h2, #fsdocs-content h2 {
  font-size: 20pt;
  margin: 20px 0px 0px 0px;
  font-weight: 400;
}

.main h3, #fsdocs-content h3 {
  font-size: 14pt;
  margin: 15px 0px 0px 0px;
  font-weight: 600;
}
/* #main p  { font-size: 11pt; margin:5px 0px 15px 0px; } */
.main ul, #fsdocs-content ul {
  font-size: 11pt;
  margin-top: 10px;
}

.main li, #fsdocs-content li {
  font-size: 11pt;
  margin: 5px 0px 5px 0px;
}

.main strong, #fsdocs-content strong {
  font-weight: 700;
}

table {
  width: 100%;
}