###############################################################################
# General (non-project-specific) patterns
###############################################################################

# OS junk files
*.DS_Store
[Tt]humbs.db

# Temp Files
*~                                                  # UNIX
~$*                                                 # Microsoft Office

# Bindings for other source-control systems.
.hg
.svn

# NuGet
!.nuget/*
[Pp]ackages/*
![Pp]ackages/repositories.config

# .NET / Visual Studio (Folders)
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

# .NET / Visual Studio (Files)
*_i.c
*_p.c
*.aps
*.bak
*.[Cc]ache
*.exe
*.gpState
*.ilk
*.log
*.lib
*.ncb
*.[Oo]bj
*.opensdf
*.pch
*.pdb
*.res
*.resources
*.sbr
*.sdf
*.sln.cache
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
Ankh.NoLoad

# Visual Studio (Project Upgrade)
Backup/
_UpgradeReport_Files/
UpgradeLog.htm
UpgradeLog.XML

# Test Results
[Tt]est[Rr]esult*
TestResults/
TestResult.xml

# 3rd-party Tools
_ReSharper*/
*.nvuser
*.resharper
*resharper.user

# Build Output
pkg
[Bb]uild


# ===================================================
# Exclude F# project specific directories and files
# ===================================================

# NuGet Packages Directory
packages/

# Generated documentation folder
docs/output/

# Temp folder used for publishing docs
temp/
.vs/
.fake/

# Test results produced by build
TestResults.xml

# Nuget outputs
nuget/*.nupkg
release.cmd
release.sh
localpackages/
paket-files
*.orig
docs/content/license.md
docs/content/release-notes.md
.fake
FsUnit.Xunit.Test.dll.xunit.html
NUnit.xml
docs/tools/FSharp.Formatting.svclog
xunit.html
