source https://nuget.org/api/v2
framework: >= net35

nuget FSharp.Formatting
nuget NUnit.Console
nuget FAKE
nuget SourceLink.Fake

nuget FSharp.Core 3.1.2.5
nuget Microsoft.VisualStudio.QualityTools.UnitTestFramework

nuget NHamcrest
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio
nuget mbunit 3.4.14

github fsharp/FAKE modules/Octokit/Octokit.fsx

